<h>Edit your review here.</h>


<form  method="post"  action="/review/<%=id%>/edit">
    <label for="rating">rate it</label>
    <input type="range" name="rating">

     <label for="comment ">Edit</label>
  <textarea name="comment">    </textarea>
    <!-- <label for="createdBy">createdBy</label>
    <input type="text" name="createdBy"> -->
    <button   class="btn btn-dark"> submit  </button>

</form>