<%layout("/layout/boilerplate.ejs")-%>
<h1>Login Please</h1>
<form method="post" action="/listings/login" >
    <label for="username">Username</label>
        <input name="username" type="text">


        <label for="password">Password</label>
            <input name="password" type="password">
           <button>Submit</button>
</form>